@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
  display: flex;
  flex-direction: column;
}

.cabecalhoft {
  display: flex;
  height: 12vh;
  width: 100%;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #7A1F1F;
}

.logo {
  height: 80px;
  margin-top: 18px;
  margin-left: 40%;
}

.botao {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 3px;
  color: #7A1F1F;
  font-size: medium;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: .10rem;
  background-color: #ffffff; 
  border: none; 
  margin-right: 65px;
  margin-top: 10px;
  cursor: pointer;
}

.meio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  width: 100%;
  background-color: #7A1F1F;
}

.Frota {
  height: 90%;
  width: 90%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.escolha {
  height: 90%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: xx-large;
  height: 45%;
  width: 90%;
  margin-top: 30px;
  color: #3B1D1D;
}

.selectdiv {
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 40px;
  height: 45%;
  width: 90%;
  position: relative;
}

.selectdiv select {
  width: 76%;
  padding: 14px;
  border: 2px solid #7A1F1F;
  border-radius: 3px;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #3B1D1D;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.carroseldiv {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #7A1F1F;
}

.containerveiculos {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrosel {
  width: 90%;
  height: 65%;
  align-items: center;
  justify-content: center;
}

.carrosel img {
  width: 510px;
  height: 270px;
  object-fit: cover;
}