@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

.container {
  display: flex;
  flex-direction: column;
}

.cabecalhoft {
  display: flex;
  height: 12vh;
  width: 100%;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #860204;
}

.logo {
  height: 80px;
  margin-top: 10px;
}

.botao {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 5px;
  color: #860204;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .20rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #ffffff; 
  border: none; 
  margin-right: 10px;
  cursor: pointer;
}

.meio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  width: 100%;
  background-color: #ffffff;
}

.Frota {
  height: 90%;
  width: 90%;
  background-color: #860204;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.escolha {
  height: 90%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 35px;
  height: 45%;
  width: 90%;
  color: #ffffff;
}

.selectdiv {
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 40px;
  height: 45%;
  width: 90%;
  position: relative;
}

.selectdiv select {
  width: 90%;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  background-color: #e9dada;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #860204;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.carroseldiv {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #860204;
}

.containerveiculos {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrosel {
  width: 90%;
  height: 65%;
  align-items: center;
  justify-content: center;
}

.carrosel img {
  width: 510px;
  height: 270px;
  object-fit: cover;
}