@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  position: relative; 
}

.cabecalho {
  display: flex;
  height: 12vh;
  width: 100%;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 30vh;
}

.direcionar{
  height: 100%;
  width: 46%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #860204; 
  align-content: center;
  text-align: right;
  cursor: default;
}

.direcionar span {
  margin-right: 1rem; 
}

.social {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px; 
}

.facebook, .instagram, .threads, .wpp {
  width: 9%;
  margin-right: 5px; 
  object-fit: contain;
  transition: transform 0.3s ease;
  border-radius: 16px;
}

.facebook:hover, .instagram:hover, .threads:hover, .wpp:hover {
  transform: scale(1.2); 
}

.botao {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #860204; 
  border: none; 
  cursor: pointer;
  text-align: center;
  margin-left: 10px; 
}

.botao:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  border-radius: 10rem;
  z-index: -1;
  transition: all .3s;
  transform: scaleX(0);
  transform-origin: bottom left;
}

.botao:hover:after {
  transform: scaleX(1);
}

.corpo {
  height: auto;
  width: 100%;
  position: relative; 
}

.onibus1 {
  height: 110vh;
  width: 100%;
  object-fit: cover;
  position: relative; 
}

.onibus1Overlay {
  position: absolute; 
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  pointer-events: none; 
}

.Servicos {
  height: 120vh;
  width: 100%;
 }

.Comotrabalhamos {
  height: 120vh;
  width: 100%;
 }

.Localizacao {
  height: 120vh;
  width: 100%;
 }